<p id="notice"><%= notice %></p>

<h1>User Balances</h1>

<table>
  <thead>
    <tr>
      <th>Balance</th>
      <th>User</th>
      <th>Last calculated journal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_balances.each do |user_balance| %>
      <tr>
        <td><%= user_balance.balance %></td>
        <td><%= user_balance.user_id %></td>
        <td><%= user_balance.last_calculated_journal_id %></td>
        <td><%= link_to 'Show', user_balance %></td>
        <td><%= link_to 'Edit', edit_user_balance_path(user_balance) %></td>
        <td><%= link_to 'Destroy', user_balance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Balance', new_user_balance_path %>
