<p id="notice"><%= notice %></p>

<p>
  <strong>From user:</strong>
  <%= @journal.from_user_id %>
</p>

<p>
  <strong>To user:</strong>
  <%= @journal.to_user_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @journal.amount %>
</p>

<p>
  <strong>Send type:</strong>
  <%= @journal.send_type %>
</p>

<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>
